:root {
  /* Background */
  --primaryBackground: #fff;
  --secondaryBackground: #195c56;

  /* Color */
  --primaryText: #53cfc5;
}

/* Start CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primaryText);
}

@media only screen and (min-width: 600px) {
  .container {
    min-height: 100vh;
    background-color: var(--primaryBackground);
  }

  /* Disabled Mobile Alert Ui */
  .mobileAlert {
    display: none;
  }

  /* Navigation CSS */
  nav {
    padding: 1.5rem;
    border-bottom: 2px solid #36bcb1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    font-size: x-large;
    cursor: pointer;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: larger;
  }

  ul li {
    cursor: pointer;
    padding: 1rem;
  }

  ul li:hover {
    background-color: #36bcb1;
    color: white;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: none;
  }

  .mobileAlert {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
  }

  .boxMobileAlert {
    padding: 1rem;
    text-align: center;
    background-color: #36bcb1;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
