:root {
  /* Background */
  --primaryBackground: #fff;
  --secondaryBackground: #195c56;

  /* Color */
  --primaryText: #53cfc5;
}

/* Start CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primaryText);
}

.container {
  min-height: 100vh;
  background-color: var(--primaryBackground);
}

/* Navigation CSS */
nav {
  padding: 0.8rem;
  border-bottom: 2px solid #36bcb1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: large;
}

ul {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav {
    padding: 2rem;
    justify-content: space-around;
  }

  .logo {
    cursor: pointer;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  ul li {
    cursor: pointer;
  }
}
